
$primary-purple:#7059f4;
.chat-div-body {
    display: flex;
    justify-content: center;
    align-items: center;
    .chat-container-main {
        display: flex;
        max-width: 800px;
        width: 80vw;
        min-width: 500px;
        flex-direction: column;
        justify-content: center;
        padding: 70px;

        justify-self: center;
        align-self: center;
        background-color: white;
        margin-top: 20px;
    }

    .chat-message-div {
        background-color: blue;
        width: 90%;

        .chat-sender {

        }

        .chat-message-content {

        }

    }

}