.oauthLoginButton {
  background-color: #5c4ac0;
  color: #fff;
  height: 50px;
  width: 140px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
}
